--
-- PostgreSQL database dump
--

\restrict RwhbsFtADuNiGXMzNj5OsfGjWYab9W7ZmzljSiHWseSPw4a6p8Yf09CKZrC9HJt

-- Dumped from database version 18.1 (Debian 18.1-1.pgdg13+2)
-- Dumped by pg_dump version 18.1 (Debian 18.1-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admins; Type: TABLE; Schema: public; Owner: DeciBel
--

CREATE TABLE public.admins (
    id bigint NOT NULL,
    avatar_url character varying(255),
    device_info character varying(255),
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    username character varying(255) NOT NULL
);


ALTER TABLE public.admins OWNER TO "DeciBel";

--
-- Name: admins_id_seq; Type: SEQUENCE; Schema: public; Owner: DeciBel
--

ALTER TABLE public.admins ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.admins_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_identities; Type: TABLE; Schema: public; Owner: DeciBel
--

CREATE TABLE public.auth_identities (
    email_verified boolean NOT NULL,
    auth_id bigint NOT NULL,
    user_id bigint NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255),
    provider character varying(255) NOT NULL,
    provider_user_id character varying(255),
    type character varying(255) NOT NULL,
    CONSTRAINT auth_identities_provider_check CHECK (((provider)::text = ANY ((ARRAY['LOCAL'::character varying, 'GOOGLE'::character varying])::text[]))),
    CONSTRAINT auth_identities_type_check CHECK (((type)::text = ANY ((ARRAY['PASSWORD'::character varying, 'OAUTH'::character varying])::text[])))
);


ALTER TABLE public.auth_identities OWNER TO "DeciBel";

--
-- Name: auth_identities_auth_id_seq; Type: SEQUENCE; Schema: public; Owner: DeciBel
--

ALTER TABLE public.auth_identities ALTER COLUMN auth_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_identities_auth_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: blocks; Type: TABLE; Schema: public; Owner: DeciBel
--

CREATE TABLE public.blocks (
    blocked_at timestamp(6) without time zone,
    blocked_id bigint NOT NULL,
    blocker_id bigint NOT NULL,
    id bigint NOT NULL
);


ALTER TABLE public.blocks OWNER TO "DeciBel";

--
-- Name: blocks_id_seq; Type: SEQUENCE; Schema: public; Owner: DeciBel
--

ALTER TABLE public.blocks ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.blocks_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: comments; Type: TABLE; Schema: public; Owner: DeciBel
--

CREATE TABLE public.comments (
    timestamp_seconds integer,
    created_at timestamp(6) without time zone,
    id bigint NOT NULL,
    parent_comment_id bigint,
    track_id bigint NOT NULL,
    user_id bigint NOT NULL,
    content character varying(255) NOT NULL
);


ALTER TABLE public.comments OWNER TO "DeciBel";

--
-- Name: comments_id_seq; Type: SEQUENCE; Schema: public; Owner: DeciBel
--

ALTER TABLE public.comments ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.comments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: fcm_tokens; Type: TABLE; Schema: public; Owner: DeciBel
--

CREATE TABLE public.fcm_tokens (
    id bigint NOT NULL,
    registered_at timestamp(6) without time zone,
    user_id bigint NOT NULL,
    device_name character varying(255),
    token character varying(255) NOT NULL
);


ALTER TABLE public.fcm_tokens OWNER TO "DeciBel";

--
-- Name: fcm_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: DeciBel
--

ALTER TABLE public.fcm_tokens ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.fcm_tokens_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: follows; Type: TABLE; Schema: public; Owner: DeciBel
--

CREATE TABLE public.follows (
    followed_at timestamp(6) without time zone,
    follower_id bigint NOT NULL,
    following_id bigint NOT NULL,
    id bigint NOT NULL
);


ALTER TABLE public.follows OWNER TO "DeciBel";

--
-- Name: follows_id_seq; Type: SEQUENCE; Schema: public; Owner: DeciBel
--

ALTER TABLE public.follows ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.follows_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: notification_preferences; Type: TABLE; Schema: public; Owner: DeciBel
--

CREATE TABLE public.notification_preferences (
    notify_on_comment boolean NOT NULL,
    notify_on_follow boolean NOT NULL,
    notify_on_like boolean NOT NULL,
    notify_on_repost boolean NOT NULL,
    notify_ondm boolean NOT NULL,
    id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.notification_preferences OWNER TO "DeciBel";

--
-- Name: notification_preferences_id_seq; Type: SEQUENCE; Schema: public; Owner: DeciBel
--

ALTER TABLE public.notification_preferences ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.notification_preferences_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: DeciBel
--

CREATE TABLE public.notifications (
    is_read boolean NOT NULL,
    actor_id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    id bigint NOT NULL,
    recipient_id bigint NOT NULL,
    resource_id bigint NOT NULL,
    resource_type character varying(255) NOT NULL,
    type character varying(255) NOT NULL,
    CONSTRAINT notifications_resource_type_check CHECK (((resource_type)::text = ANY ((ARRAY['TRACK'::character varying, 'PLAYLIST'::character varying, 'USER'::character varying, 'CONVERSATION'::character varying])::text[]))),
    CONSTRAINT notifications_type_check CHECK (((type)::text = ANY ((ARRAY['FOLLOW'::character varying, 'LIKE'::character varying, 'REPOST'::character varying, 'COMMENT'::character varying, 'REPLY'::character varying, 'MESSAGE'::character varying])::text[])))
);


ALTER TABLE public.notifications OWNER TO "DeciBel";

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: DeciBel
--

ALTER TABLE public.notifications ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.notifications_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pending_email_changes; Type: TABLE; Schema: public; Owner: DeciBel
--

CREATE TABLE public.pending_email_changes (
    created_at timestamp(6) without time zone NOT NULL,
    pending_email_change_id bigint NOT NULL,
    token_id bigint NOT NULL,
    user_id bigint NOT NULL,
    new_email character varying(255) NOT NULL
);


ALTER TABLE public.pending_email_changes OWNER TO "DeciBel";

--
-- Name: pending_email_changes_pending_email_change_id_seq; Type: SEQUENCE; Schema: public; Owner: DeciBel
--

ALTER TABLE public.pending_email_changes ALTER COLUMN pending_email_change_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pending_email_changes_pending_email_change_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: playlist_genres; Type: TABLE; Schema: public; Owner: DeciBel
--

CREATE TABLE public.playlist_genres (
    playlist_id bigint NOT NULL,
    genres character varying(255)
);


ALTER TABLE public.playlist_genres OWNER TO "DeciBel";

--
-- Name: playlist_likes; Type: TABLE; Schema: public; Owner: DeciBel
--

CREATE TABLE public.playlist_likes (
    id bigint NOT NULL,
    liked_at timestamp(6) without time zone,
    playlist_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.playlist_likes OWNER TO "DeciBel";

--
-- Name: playlist_likes_id_seq; Type: SEQUENCE; Schema: public; Owner: DeciBel
--

ALTER TABLE public.playlist_likes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.playlist_likes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: playlist_reposts; Type: TABLE; Schema: public; Owner: DeciBel
--

CREATE TABLE public.playlist_reposts (
    id bigint NOT NULL,
    playlist_id bigint NOT NULL,
    reposted_at timestamp(6) without time zone,
    user_id bigint NOT NULL
);


ALTER TABLE public.playlist_reposts OWNER TO "DeciBel";

--
-- Name: playlist_reposts_id_seq; Type: SEQUENCE; Schema: public; Owner: DeciBel
--

ALTER TABLE public.playlist_reposts ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.playlist_reposts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: playlist_slugs; Type: TABLE; Schema: public; Owner: DeciBel
--

CREATE TABLE public.playlist_slugs (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    is_deleted boolean NOT NULL,
    slug character varying(255) NOT NULL,
    playlist_id bigint NOT NULL
);


ALTER TABLE public.playlist_slugs OWNER TO "DeciBel";

--
-- Name: playlist_slugs_id_seq; Type: SEQUENCE; Schema: public; Owner: DeciBel
--

ALTER TABLE public.playlist_slugs ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.playlist_slugs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: playlist_tokens; Type: TABLE; Schema: public; Owner: DeciBel
--

CREATE TABLE public.playlist_tokens (
    is_deleted boolean NOT NULL,
    id bigint NOT NULL,
    playlist_id bigint NOT NULL,
    token character varying(255) NOT NULL
);


ALTER TABLE public.playlist_tokens OWNER TO "DeciBel";

--
-- Name: playlist_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: DeciBel
--

ALTER TABLE public.playlist_tokens ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.playlist_tokens_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: playlist_tracks; Type: TABLE; Schema: public; Owner: DeciBel
--

CREATE TABLE public.playlist_tracks (
    playlist_id bigint NOT NULL,
    track_id bigint NOT NULL
);


ALTER TABLE public.playlist_tracks OWNER TO "DeciBel";

--
-- Name: playlists; Type: TABLE; Schema: public; Owner: DeciBel
--

CREATE TABLE public.playlists (
    is_liked boolean NOT NULL,
    is_private boolean NOT NULL,
    like_count integer NOT NULL,
    repost_count integer NOT NULL,
    total_duration_seconds integer NOT NULL,
    track_count integer NOT NULL,
    created_at timestamp(6) without time zone,
    id bigint NOT NULL,
    updated_at timestamp(6) without time zone,
    user_id bigint NOT NULL,
    cover_art_url character varying(255),
    description text,
    slug character varying(255) NOT NULL,
    title character varying(255) NOT NULL,
    type character varying(255) NOT NULL,
    CONSTRAINT playlists_type_check CHECK (((type)::text = ANY ((ARRAY['ALBUM'::character varying, 'PLAYLIST'::character varying, 'EP'::character varying, 'SINGLE'::character varying])::text[])))
);


ALTER TABLE public.playlists OWNER TO "DeciBel";

--
-- Name: playlists_id_seq; Type: SEQUENCE; Schema: public; Owner: DeciBel
--

ALTER TABLE public.playlists ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.playlists_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: reports; Type: TABLE; Schema: public; Owner: DeciBel
--

CREATE TABLE public.reports (
    created_at timestamp(6) without time zone NOT NULL,
    id bigint NOT NULL,
    reporter_id bigint NOT NULL,
    target_id bigint NOT NULL,
    description text,
    reason character varying(255) NOT NULL,
    status character varying(255) NOT NULL,
    target_type character varying(255) NOT NULL,
    CONSTRAINT reports_status_check CHECK (((status)::text = ANY ((ARRAY['OPEN'::character varying, 'IN_REVIEW'::character varying, 'RESOLVED'::character varying, 'DISMISSED'::character varying])::text[]))),
    CONSTRAINT reports_target_type_check CHECK (((target_type)::text = ANY ((ARRAY['TRACK'::character varying, 'USER'::character varying, 'COMMENT'::character varying])::text[])))
);


ALTER TABLE public.reports OWNER TO "DeciBel";

--
-- Name: reports_id_seq; Type: SEQUENCE; Schema: public; Owner: DeciBel
--

ALTER TABLE public.reports ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.reports_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: reposts; Type: TABLE; Schema: public; Owner: DeciBel
--

CREATE TABLE public.reposts (
    id bigint NOT NULL,
    reposted_at timestamp(6) without time zone,
    track_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.reposts OWNER TO "DeciBel";

--
-- Name: reposts_id_seq; Type: SEQUENCE; Schema: public; Owner: DeciBel
--

ALTER TABLE public.reposts ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.reposts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: sessions; Type: TABLE; Schema: public; Owner: DeciBel
--

CREATE TABLE public.sessions (
    created_at timestamp(6) without time zone NOT NULL,
    last_used_at timestamp(6) without time zone,
    refresh_token_id bigint NOT NULL,
    revoked_at timestamp(6) without time zone,
    session_id bigint NOT NULL,
    user_id bigint NOT NULL,
    device_fingerprint character varying(255) NOT NULL,
    device_name character varying(255) NOT NULL,
    device_type character varying(255) NOT NULL,
    CONSTRAINT sessions_device_type_check CHECK (((device_type)::text = ANY ((ARRAY['DESKTOP'::character varying, 'MOBILE'::character varying, 'TABLET'::character varying])::text[])))
);


ALTER TABLE public.sessions OWNER TO "DeciBel";

--
-- Name: sessions_session_id_seq; Type: SEQUENCE; Schema: public; Owner: DeciBel
--

ALTER TABLE public.sessions ALTER COLUMN session_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.sessions_session_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: social_links; Type: TABLE; Schema: public; Owner: DeciBel
--

CREATE TABLE public.social_links (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    platform character varying(255) NOT NULL,
    url character varying(255) NOT NULL,
    CONSTRAINT social_links_platform_check CHECK (((platform)::text = ANY ((ARRAY['INSTAGRAM'::character varying, 'TWITTER'::character varying, 'WEBSITE'::character varying])::text[])))
);


ALTER TABLE public.social_links OWNER TO "DeciBel";

--
-- Name: social_links_id_seq; Type: SEQUENCE; Schema: public; Owner: DeciBel
--

ALTER TABLE public.social_links ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.social_links_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: subscriptions; Type: TABLE; Schema: public; Owner: DeciBel
--

CREATE TABLE public.subscriptions (
    cancel_at_period_end boolean NOT NULL,
    created_at timestamp(6) without time zone,
    current_period_end bigint,
    id bigint NOT NULL,
    updated_at timestamp(6) without time zone,
    user_id bigint NOT NULL,
    plan character varying(255) NOT NULL,
    status character varying(255) NOT NULL,
    stripe_customer_id character varying(255) NOT NULL,
    stripe_subscription_id character varying(255),
    CONSTRAINT subscriptions_status_check CHECK (((status)::text = ANY ((ARRAY['ACTIVE'::character varying, 'CANCELLED'::character varying, 'PAST_DUE'::character varying, 'TRIALING'::character varying])::text[])))
);


ALTER TABLE public.subscriptions OWNER TO "DeciBel";

--
-- Name: subscriptions_id_seq; Type: SEQUENCE; Schema: public; Owner: DeciBel
--

ALTER TABLE public.subscriptions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.subscriptions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tags; Type: TABLE; Schema: public; Owner: DeciBel
--

CREATE TABLE public.tags (
    tag_id bigint NOT NULL,
    title character varying(255) NOT NULL
);


ALTER TABLE public.tags OWNER TO "DeciBel";

--
-- Name: tags_tag_id_seq; Type: SEQUENCE; Schema: public; Owner: DeciBel
--

ALTER TABLE public.tags ALTER COLUMN tag_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tags_tag_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: token; Type: TABLE; Schema: public; Owner: DeciBel
--

CREATE TABLE public.token (
    token_id bigint NOT NULL,
    expires_at timestamp(6) without time zone NOT NULL,
    last_used_at timestamp(6) without time zone,
    token_hash character varying(255) NOT NULL,
    token_type character varying(255),
    user_id bigint,
    CONSTRAINT token_token_type_check CHECK (((token_type)::text = ANY ((ARRAY['PASSWORD_RESET'::character varying, 'EMAIL_VERIFICATION'::character varying, 'LOGIN_VERIFICATION'::character varying])::text[])))
);


ALTER TABLE public.token OWNER TO "DeciBel";

--
-- Name: token_token_id_seq; Type: SEQUENCE; Schema: public; Owner: DeciBel
--

ALTER TABLE public.token ALTER COLUMN token_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.token_token_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tokens; Type: TABLE; Schema: public; Owner: DeciBel
--

CREATE TABLE public.tokens (
    created_at timestamp(6) without time zone NOT NULL,
    expires_at timestamp(6) without time zone NOT NULL,
    token_id bigint NOT NULL,
    used_at timestamp(6) without time zone,
    user_id bigint NOT NULL,
    hash character varying(255) NOT NULL,
    token_type character varying(255) NOT NULL,
    CONSTRAINT tokens_token_type_check CHECK (((token_type)::text = ANY ((ARRAY['EMAIL_VERIFICATION'::character varying, 'REFRESH_TOKEN'::character varying, 'PASSWORD_RESET'::character varying, 'EMAIL_CHANGE'::character varying, 'LOGIN_VERIFICATION'::character varying])::text[])))
);


ALTER TABLE public.tokens OWNER TO "DeciBel";

--
-- Name: tokens_token_id_seq; Type: SEQUENCE; Schema: public; Owner: DeciBel
--

ALTER TABLE public.tokens ALTER COLUMN token_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tokens_token_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: track_likes; Type: TABLE; Schema: public; Owner: DeciBel
--

CREATE TABLE public.track_likes (
    id bigint NOT NULL,
    liked_at timestamp(6) without time zone,
    track_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.track_likes OWNER TO "DeciBel";

--
-- Name: track_likes_id_seq; Type: SEQUENCE; Schema: public; Owner: DeciBel
--

ALTER TABLE public.track_likes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.track_likes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: track_tags; Type: TABLE; Schema: public; Owner: DeciBel
--

CREATE TABLE public.track_tags (
    tag_id bigint NOT NULL,
    track_id bigint NOT NULL
);


ALTER TABLE public.track_tags OWNER TO "DeciBel";

--
-- Name: track_tokens; Type: TABLE; Schema: public; Owner: DeciBel
--

CREATE TABLE public.track_tokens (
    is_deleted boolean NOT NULL,
    id bigint NOT NULL,
    track_id bigint NOT NULL,
    token character varying(255) NOT NULL
);


ALTER TABLE public.track_tokens OWNER TO "DeciBel";

--
-- Name: track_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: DeciBel
--

ALTER TABLE public.track_tokens ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.track_tokens_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tracks; Type: TABLE; Schema: public; Owner: DeciBel
--

CREATE TABLE public.tracks (
    duration_seconds integer NOT NULL,
    like_count integer NOT NULL,
    play_count integer NOT NULL,
    play_through_rate double precision NOT NULL,
    published boolean NOT NULL,
    release_date date NOT NULL,
    repost_count integer NOT NULL,
    id bigint NOT NULL,
    published_at timestamp(6) without time zone,
    upload_date timestamp(6) without time zone,
    uploader_id bigint NOT NULL,
    cover_url character varying(255),
    description character varying(255),
    genre character varying(255) NOT NULL,
    slug character varying(255),
    state character varying(255),
    title character varying(255) NOT NULL,
    track_url character varying(255),
    visibility character varying(255) NOT NULL,
    waveform_url character varying(255),
    CONSTRAINT tracks_state_check CHECK (((state)::text = ANY ((ARRAY['UPLOADING'::character varying, 'PROCESSING'::character varying, 'FINISHED'::character varying, 'FAILED'::character varying])::text[]))),
    CONSTRAINT tracks_visibility_check CHECK (((visibility)::text = ANY ((ARRAY['PUBLIC'::character varying, 'PRIVATE'::character varying, 'SECRET'::character varying])::text[])))
);


ALTER TABLE public.tracks OWNER TO "DeciBel";

--
-- Name: tracks_id_seq; Type: SEQUENCE; Schema: public; Owner: DeciBel
--

ALTER TABLE public.tracks ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tracks_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_favorite_genres; Type: TABLE; Schema: public; Owner: DeciBel
--

CREATE TABLE public.user_favorite_genres (
    user_id bigint NOT NULL,
    favorite_genres character varying(255)
);


ALTER TABLE public.user_favorite_genres OWNER TO "DeciBel";

--
-- Name: user_profile_tokens; Type: TABLE; Schema: public; Owner: DeciBel
--

CREATE TABLE public.user_profile_tokens (
    is_deleted boolean NOT NULL,
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    token character varying(255) NOT NULL
);


ALTER TABLE public.user_profile_tokens OWNER TO "DeciBel";

--
-- Name: user_profile_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: DeciBel
--

ALTER TABLE public.user_profile_tokens ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_profile_tokens_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: DeciBel
--

CREATE TABLE public.users (
    follower_count integer NOT NULL,
    following_count integer NOT NULL,
    is_private boolean NOT NULL,
    show_history boolean NOT NULL,
    track_count integer NOT NULL,
    created_at timestamp(6) without time zone,
    id bigint NOT NULL,
    updated_at timestamp(6) without time zone,
    avatar_url character varying(255),
    bio text,
    cover_photo_url character varying(255),
    display_name character varying(255),
    location character varying(255),
    tier character varying(255) NOT NULL,
    username character varying(255) NOT NULL,
    CONSTRAINT users_tier_check CHECK (((tier)::text = ANY ((ARRAY['FREE'::character varying, 'PRO'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO "DeciBel";

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: DeciBel
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: admins admins_email_key; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_email_key UNIQUE (email);


--
-- Name: admins admins_pkey; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_pkey PRIMARY KEY (id);


--
-- Name: admins admins_username_key; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_username_key UNIQUE (username);


--
-- Name: auth_identities auth_identities_pkey; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.auth_identities
    ADD CONSTRAINT auth_identities_pkey PRIMARY KEY (auth_id);


--
-- Name: blocks blocks_blocker_id_blocked_id_key; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.blocks
    ADD CONSTRAINT blocks_blocker_id_blocked_id_key UNIQUE (blocker_id, blocked_id);


--
-- Name: blocks blocks_pkey; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.blocks
    ADD CONSTRAINT blocks_pkey PRIMARY KEY (id);


--
-- Name: comments comments_pkey; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_pkey PRIMARY KEY (id);


--
-- Name: fcm_tokens fcm_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.fcm_tokens
    ADD CONSTRAINT fcm_tokens_pkey PRIMARY KEY (id);


--
-- Name: fcm_tokens fcm_tokens_user_id_token_key; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.fcm_tokens
    ADD CONSTRAINT fcm_tokens_user_id_token_key UNIQUE (user_id, token);


--
-- Name: follows follows_follower_id_following_id_key; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.follows
    ADD CONSTRAINT follows_follower_id_following_id_key UNIQUE (follower_id, following_id);


--
-- Name: follows follows_pkey; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.follows
    ADD CONSTRAINT follows_pkey PRIMARY KEY (id);


--
-- Name: notification_preferences notification_preferences_pkey; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.notification_preferences
    ADD CONSTRAINT notification_preferences_pkey PRIMARY KEY (id);


--
-- Name: notification_preferences notification_preferences_user_id_key; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.notification_preferences
    ADD CONSTRAINT notification_preferences_user_id_key UNIQUE (user_id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: pending_email_changes pending_email_changes_pkey; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.pending_email_changes
    ADD CONSTRAINT pending_email_changes_pkey PRIMARY KEY (pending_email_change_id);


--
-- Name: pending_email_changes pending_email_changes_token_id_key; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.pending_email_changes
    ADD CONSTRAINT pending_email_changes_token_id_key UNIQUE (token_id);


--
-- Name: playlist_likes playlist_likes_pkey; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.playlist_likes
    ADD CONSTRAINT playlist_likes_pkey PRIMARY KEY (id);


--
-- Name: playlist_likes playlist_likes_user_id_playlist_id_key; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.playlist_likes
    ADD CONSTRAINT playlist_likes_user_id_playlist_id_key UNIQUE (user_id, playlist_id);


--
-- Name: playlist_reposts playlist_reposts_pkey; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.playlist_reposts
    ADD CONSTRAINT playlist_reposts_pkey PRIMARY KEY (id);


--
-- Name: playlist_reposts playlist_reposts_user_id_playlist_id_key; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.playlist_reposts
    ADD CONSTRAINT playlist_reposts_user_id_playlist_id_key UNIQUE (user_id, playlist_id);


--
-- Name: playlist_slugs playlist_slugs_pkey; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.playlist_slugs
    ADD CONSTRAINT playlist_slugs_pkey PRIMARY KEY (id);


--
-- Name: playlist_tokens playlist_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.playlist_tokens
    ADD CONSTRAINT playlist_tokens_pkey PRIMARY KEY (id);


--
-- Name: playlist_tokens playlist_tokens_token_key; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.playlist_tokens
    ADD CONSTRAINT playlist_tokens_token_key UNIQUE (token);


--
-- Name: playlists playlists_pkey; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.playlists
    ADD CONSTRAINT playlists_pkey PRIMARY KEY (id);


--
-- Name: playlists playlists_slug_key; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.playlists
    ADD CONSTRAINT playlists_slug_key UNIQUE (slug);


--
-- Name: reports reports_pkey; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_pkey PRIMARY KEY (id);


--
-- Name: reposts reposts_pkey; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.reposts
    ADD CONSTRAINT reposts_pkey PRIMARY KEY (id);


--
-- Name: reposts reposts_user_id_track_id_key; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.reposts
    ADD CONSTRAINT reposts_user_id_track_id_key UNIQUE (user_id, track_id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (session_id);


--
-- Name: sessions sessions_refresh_token_id_key; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_refresh_token_id_key UNIQUE (refresh_token_id);


--
-- Name: social_links social_links_pkey; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.social_links
    ADD CONSTRAINT social_links_pkey PRIMARY KEY (id);


--
-- Name: social_links social_links_user_id_platform_key; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.social_links
    ADD CONSTRAINT social_links_user_id_platform_key UNIQUE (user_id, platform);


--
-- Name: subscriptions subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_pkey PRIMARY KEY (id);


--
-- Name: subscriptions subscriptions_stripe_customer_id_key; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_stripe_customer_id_key UNIQUE (stripe_customer_id);


--
-- Name: subscriptions subscriptions_stripe_subscription_id_key; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_stripe_subscription_id_key UNIQUE (stripe_subscription_id);


--
-- Name: subscriptions subscriptions_user_id_key; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_user_id_key UNIQUE (user_id);


--
-- Name: tags tags_pkey; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.tags
    ADD CONSTRAINT tags_pkey PRIMARY KEY (tag_id);


--
-- Name: tags tags_title_key; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.tags
    ADD CONSTRAINT tags_title_key UNIQUE (title);


--
-- Name: token token_pkey; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.token
    ADD CONSTRAINT token_pkey PRIMARY KEY (token_id);


--
-- Name: tokens tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.tokens
    ADD CONSTRAINT tokens_pkey PRIMARY KEY (token_id);


--
-- Name: track_likes track_likes_pkey; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.track_likes
    ADD CONSTRAINT track_likes_pkey PRIMARY KEY (id);


--
-- Name: track_likes track_likes_user_id_track_id_key; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.track_likes
    ADD CONSTRAINT track_likes_user_id_track_id_key UNIQUE (user_id, track_id);


--
-- Name: track_tokens track_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.track_tokens
    ADD CONSTRAINT track_tokens_pkey PRIMARY KEY (id);


--
-- Name: track_tokens track_tokens_token_key; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.track_tokens
    ADD CONSTRAINT track_tokens_token_key UNIQUE (token);


--
-- Name: tracks tracks_pkey; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.tracks
    ADD CONSTRAINT tracks_pkey PRIMARY KEY (id);


--
-- Name: tracks tracks_slug_key; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.tracks
    ADD CONSTRAINT tracks_slug_key UNIQUE (slug);


--
-- Name: social_links uk1bxcro2aq3q2mekpq0ebqhej2; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.social_links
    ADD CONSTRAINT uk1bxcro2aq3q2mekpq0ebqhej2 UNIQUE (user_id, platform);


--
-- Name: follows uk4faelgsm2rxl2jf3iyjy981ro; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.follows
    ADD CONSTRAINT uk4faelgsm2rxl2jf3iyjy981ro UNIQUE (follower_id, following_id);


--
-- Name: track_likes uk8eacsa3eg2ivnhfwucrmsmk6t; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.track_likes
    ADD CONSTRAINT uk8eacsa3eg2ivnhfwucrmsmk6t UNIQUE (user_id, track_id);


--
-- Name: reposts uk9p5ye4s71lbxkbdus0iqkkbel; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.reposts
    ADD CONSTRAINT uk9p5ye4s71lbxkbdus0iqkkbel UNIQUE (user_id, track_id);


--
-- Name: token uka1fmatmb9bi9p54ulp4uanuo0; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.token
    ADD CONSTRAINT uka1fmatmb9bi9p54ulp4uanuo0 UNIQUE (token_hash);


--
-- Name: playlist_likes ukcmt8meydpvi6xv3gvp1hp3495; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.playlist_likes
    ADD CONSTRAINT ukcmt8meydpvi6xv3gvp1hp3495 UNIQUE (user_id, playlist_id);


--
-- Name: playlist_reposts ukh2dfsiu08w1v4n6rlfbdqjqb0; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.playlist_reposts
    ADD CONSTRAINT ukh2dfsiu08w1v4n6rlfbdqjqb0 UNIQUE (user_id, playlist_id);


--
-- Name: playlist_slugs uklvv0ew9gyqa0r2k4qppsqate7; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.playlist_slugs
    ADD CONSTRAINT uklvv0ew9gyqa0r2k4qppsqate7 UNIQUE (slug);


--
-- Name: fcm_tokens ukmt41a23jdgkyprxusa97ss4er; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.fcm_tokens
    ADD CONSTRAINT ukmt41a23jdgkyprxusa97ss4er UNIQUE (user_id, token);


--
-- Name: blocks uko6p3yjxo8qvcqrxt673wxsx63; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.blocks
    ADD CONSTRAINT uko6p3yjxo8qvcqrxt673wxsx63 UNIQUE (blocker_id, blocked_id);


--
-- Name: user_profile_tokens user_profile_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.user_profile_tokens
    ADD CONSTRAINT user_profile_tokens_pkey PRIMARY KEY (id);


--
-- Name: user_profile_tokens user_profile_tokens_token_key; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.user_profile_tokens
    ADD CONSTRAINT user_profile_tokens_token_key UNIQUE (token);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: idx20ha0q7d5hwncxfjidy9i1j9g; Type: INDEX; Schema: public; Owner: DeciBel
--

CREATE INDEX idx20ha0q7d5hwncxfjidy9i1j9g ON public.notifications USING btree (recipient_id, is_read);


--
-- Name: idxbjq15bxq12dmoi56yjr5rdxp4; Type: INDEX; Schema: public; Owner: DeciBel
--

CREATE INDEX idxbjq15bxq12dmoi56yjr5rdxp4 ON public.notifications USING btree (recipient_id);


--
-- Name: tokens fk2dylsfo39lgjyqml2tbe0b0ss; Type: FK CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.tokens
    ADD CONSTRAINT fk2dylsfo39lgjyqml2tbe0b0ss FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: tracks fk3jwih9j56eujtm0uuf5a3sk78; Type: FK CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.tracks
    ADD CONSTRAINT fk3jwih9j56eujtm0uuf5a3sk78 FOREIGN KEY (uploader_id) REFERENCES public.users(id);


--
-- Name: user_profile_tokens fk3njieph759j5kjysoqsjcqu0v; Type: FK CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.user_profile_tokens
    ADD CONSTRAINT fk3njieph759j5kjysoqsjcqu0v FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: social_links fk5augehku1ljpuebls7nu378s9; Type: FK CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.social_links
    ADD CONSTRAINT fk5augehku1ljpuebls7nu378s9 FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: playlist_genres fk5bh5vblt8ctu2o8jmggedi5yc; Type: FK CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.playlist_genres
    ADD CONSTRAINT fk5bh5vblt8ctu2o8jmggedi5yc FOREIGN KEY (playlist_id) REFERENCES public.playlists(id);


--
-- Name: comments fk7h839m3lkvhbyv3bcdv7sm4fj; Type: FK CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT fk7h839m3lkvhbyv3bcdv7sm4fj FOREIGN KEY (parent_comment_id) REFERENCES public.comments(id);


--
-- Name: track_tokens fk7hh459j46vdp9rq04ipb45xve; Type: FK CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.track_tokens
    ADD CONSTRAINT fk7hh459j46vdp9rq04ipb45xve FOREIGN KEY (track_id) REFERENCES public.tracks(id);


--
-- Name: track_tags fk8fbxme6junamej0cgtvo7iruy; Type: FK CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.track_tags
    ADD CONSTRAINT fk8fbxme6junamej0cgtvo7iruy FOREIGN KEY (tag_id) REFERENCES public.tags(tag_id);


--
-- Name: comments fk8omq0tc18jd43bu5tjh6jvraq; Type: FK CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT fk8omq0tc18jd43bu5tjh6jvraq FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: playlist_likes fk9dhb9spstqy63qbwv9l8h1jco; Type: FK CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.playlist_likes
    ADD CONSTRAINT fk9dhb9spstqy63qbwv9l8h1jco FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: pending_email_changes fkc0wn7yks76xuopn0lpqocotxb; Type: FK CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.pending_email_changes
    ADD CONSTRAINT fkc0wn7yks76xuopn0lpqocotxb FOREIGN KEY (token_id) REFERENCES public.tokens(token_id);


--
-- Name: track_tags fkd5w53fwpn77p6pnn6ev80g37k; Type: FK CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.track_tags
    ADD CONSTRAINT fkd5w53fwpn77p6pnn6ev80g37k FOREIGN KEY (track_id) REFERENCES public.tracks(id);


--
-- Name: reposts fkdtkd7swbi33b8w536k29yjbom; Type: FK CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.reposts
    ADD CONSTRAINT fkdtkd7swbi33b8w536k29yjbom FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: sessions fkf3jvnfw3rfhqlmbxpq4snlcth; Type: FK CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT fkf3jvnfw3rfhqlmbxpq4snlcth FOREIGN KEY (refresh_token_id) REFERENCES public.tokens(token_id);


--
-- Name: playlist_reposts fkgkj6aw35d8oib4okeb7ll7qor; Type: FK CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.playlist_reposts
    ADD CONSTRAINT fkgkj6aw35d8oib4okeb7ll7qor FOREIGN KEY (playlist_id) REFERENCES public.playlists(id);


--
-- Name: track_likes fkglieae0f87ruh0ixh00uvcqqf; Type: FK CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.track_likes
    ADD CONSTRAINT fkglieae0f87ruh0ixh00uvcqqf FOREIGN KEY (track_id) REFERENCES public.tracks(id) ON DELETE CASCADE;


--
-- Name: auth_identities fkh7r51yumnvaq9p7ay7oimaird; Type: FK CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.auth_identities
    ADD CONSTRAINT fkh7r51yumnvaq9p7ay7oimaird FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: playlist_tracks fkhjkawu4qwjhxcpveah0pymuct; Type: FK CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.playlist_tracks
    ADD CONSTRAINT fkhjkawu4qwjhxcpveah0pymuct FOREIGN KEY (track_id) REFERENCES public.tracks(id);


--
-- Name: pending_email_changes fki8if9jr4rq66if20b98c3lj0; Type: FK CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.pending_email_changes
    ADD CONSTRAINT fki8if9jr4rq66if20b98c3lj0 FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: blocks fkjcracc6rem4ddb6gtkaxhfsvu; Type: FK CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.blocks
    ADD CONSTRAINT fkjcracc6rem4ddb6gtkaxhfsvu FOREIGN KEY (blocked_id) REFERENCES public.users(id);


--
-- Name: playlist_likes fkknrkpk1wykovhi350g2c8txfm; Type: FK CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.playlist_likes
    ADD CONSTRAINT fkknrkpk1wykovhi350g2c8txfm FOREIGN KEY (playlist_id) REFERENCES public.playlists(id);


--
-- Name: playlist_tokens fkkq6ovggxx0wr13356kbhqvnpw; Type: FK CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.playlist_tokens
    ADD CONSTRAINT fkkq6ovggxx0wr13356kbhqvnpw FOREIGN KEY (playlist_id) REFERENCES public.playlists(id);


--
-- Name: blocks fkl05bxnwmimx5n5tsgrgnguvu6; Type: FK CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.blocks
    ADD CONSTRAINT fkl05bxnwmimx5n5tsgrgnguvu6 FOREIGN KEY (blocker_id) REFERENCES public.users(id);


--
-- Name: playlist_tracks fkn9g4py06v2tmrisjdvxvjeb7x; Type: FK CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.playlist_tracks
    ADD CONSTRAINT fkn9g4py06v2tmrisjdvxvjeb7x FOREIGN KEY (playlist_id) REFERENCES public.playlists(id);


--
-- Name: playlist_reposts fko6buk8u5xh873cu9u78xdlf33; Type: FK CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.playlist_reposts
    ADD CONSTRAINT fko6buk8u5xh873cu9u78xdlf33 FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: reposts fkocuh54s2hkxmnxxhl5ik3ow44; Type: FK CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.reposts
    ADD CONSTRAINT fkocuh54s2hkxmnxxhl5ik3ow44 FOREIGN KEY (track_id) REFERENCES public.tracks(id) ON DELETE CASCADE;


--
-- Name: comments fkoh1x94oufkhsgli9cjd4yg9h1; Type: FK CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT fkoh1x94oufkhsgli9cjd4yg9h1 FOREIGN KEY (track_id) REFERENCES public.tracks(id);


--
-- Name: follows fkonkdkae2ngtx70jqhsh7ol6uq; Type: FK CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.follows
    ADD CONSTRAINT fkonkdkae2ngtx70jqhsh7ol6uq FOREIGN KEY (following_id) REFERENCES public.users(id);


--
-- Name: track_likes fkqiem4pevcl4py592dlqtbqd8u; Type: FK CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.track_likes
    ADD CONSTRAINT fkqiem4pevcl4py592dlqtbqd8u FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: follows fkqnkw0cwwh6572nyhvdjqlr163; Type: FK CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.follows
    ADD CONSTRAINT fkqnkw0cwwh6572nyhvdjqlr163 FOREIGN KEY (follower_id) REFERENCES public.users(id);


--
-- Name: sessions fkruie73rneumyyd1bgo6qw8vjt; Type: FK CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT fkruie73rneumyyd1bgo6qw8vjt FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_favorite_genres fkscaseiy5jwk8fgd309ci6r26g; Type: FK CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.user_favorite_genres
    ADD CONSTRAINT fkscaseiy5jwk8fgd309ci6r26g FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: playlists fktgjwvfg23v990xk7k0idmqbrj; Type: FK CONSTRAINT; Schema: public; Owner: DeciBel
--

ALTER TABLE ONLY public.playlists
    ADD CONSTRAINT fktgjwvfg23v990xk7k0idmqbrj FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO "DeciBel";


--
-- PostgreSQL database dump complete
--

\unrestrict RwhbsFtADuNiGXMzNj5OsfGjWYab9W7ZmzljSiHWseSPw4a6p8Yf09CKZrC9HJt

