-- 1. Drop the old constraint that only allowed Desktop, Mobile, and Tablet
ALTER TABLE public.sessions 
    DROP CONSTRAINT sessions_device_type_check;

-- 2. Add the new constraint that includes 'WEB'
ALTER TABLE public.sessions 
    ADD CONSTRAINT sessions_device_type_check 
    CHECK (((device_type)::text = ANY ((ARRAY['DESKTOP'::character varying, 'MOBILE'::character varying, 'TABLET'::character varying, 'WEB'::character varying])::text[])));